.button {
	@include button($yellow-initial);

	&.button_blue {
		@include button($blue-initial);
		width: max-content;
	}

	&.button_icon {
		@include button-icon($blue-initial);
	}

	&.button_border {
		@include button-border($yellow-initial);
	}

	&.button_close {
		padding: 0;
		background-color: unset;
		width: rem-calc(40);
		height: rem-calc(40);
	}
}
