@font-face {
	font-family: "Inter";
	src: url("./../fonts/Inter-Regular.woff2");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("./../fonts/Inter-Medium.woff2");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("./../fonts/Inter-SemiBold.woff2");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Jura";
	src: url("./../fonts/Jura.woff2");
	font-weight: 700;
	font-display: swap;
}
