.header {
	@include flex-row-align-center;
	justify-content: space-between;

	@include container;
	margin: rem-calc(20) auto;
	padding-inline: $default-inline-padding;

	&__logo {
		flex-shrink: 0;
	}

	&__nav {
		padding-left: rem-calc(68);

		@include medium {
			display: none;
		}

		&_burger {
			padding-left: 0;
			padding-bottom: rem-calc(25);
			
			@include medium {
				display: block;
			}
		}
	}

	&__communication {
		@include flex-row-align-center;
		gap: rem-calc(8);

		&:has(.burger-menu_active) {
			.header__basket {
				display: none;
			}
		}
	}

	&__connect {
		@include small {
			display: none;
		} 
	}

	&__burger {
		display: none;

		@include medium {
			display: block;
		}
	}
}
