body {
	font-family: $font-inter;
}

a,
li,
span,
div {
	color: $dark-blue;
	text-decoration: none;
	transition: $transition-animate-default;
}

a:hover {
	color: $blue-initial;
}

main {
	height: 100vh;
	overflow: hidden;
}

.hide {
	display: none !important;
}

body:has(.burger-menu_active),
body:has(.popup_active) {
	overflow: hidden;
}