$yellow-initial: #eab308;
$yellow-hover: #fec71c;
$yellow-pressed: #cc9500;

$blue-initial: #2581eb;
$blue-hover: #439fff;
$blue-pressed: #0763cd;

$dark-blue: #1f2937;
$white: #ffffff;
$gray: #6b7280;

$border-radius-default: rem-calc(8);

$transition-animate-default: all 0.3s ease;
